{% extends 'blog/base.html' %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
        {% if user.is_authenticated %}
        <i class="fas fa-bars" onclick="showOrHide()"></i>
        {% else %}
        <i class="fas fa-bars" onclick="alert('로그인 해주세요')"></i>
        {% endif %}
    </a>
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/logo.jpeg' %}" width="100" height="30" alt="">
    </a>
    {% if user.is_authenticated %}
    <i class="fas fa-search"></i>
    {% else %}
    <button type="button" style="width: 60px;
                    height: 32px;
                    margin-top: 13px;
                    border-radius: 16px;
                    border: 1px solid #949797;
                    font-size: 13px;
                    background-color: white;
                    color: #949797;"><a
            class="text-secondary" href="{% url 'signin' %}">시작하기</a></button>
    {% endif %}
    <!-- <i class="fas fa-search"></i>     -->
</nav>
{% endblock navbar %}
{% if user.is_authenticated %}
{% block sidebar %}
<div class="h-100 text-center position-absolute" id="sidebar" style="display:none; z-index:999999; width: 25%;
    ">
    <div class="row">
        <div class="col border pl-4" style="background-color: #f6f6f6">
            <div class="profile" style="margin: 30px 0 0 0; padding: 0 0 20px 0;">
                <img class="rounded-circle" src="{% static 'img/default_profile_img2.jpg' %}" alt="" style="width: 60px; height: 60px;">
                <p class="font-weight-bold mt-4 text-dark" style="font-size: 1.2em">{{ user.name }}</p>
                <p style="color: #cacaca">{{ user.email }}</p>
                <button type="button" style="width: 80px;
                    height: 32px;
                    margin-top: 13px;
                    border-radius: 16px;
                    border: 1px solid #00c3bd;
                    font-size: 13px;
                    background-color: white;
                    color: #00c3bd;"><a
                        class="text-info" href="{% url 'create_post' %}">글쓰기</a></button>
                <button type="button" style="width: 80px;
                    height: 32px;
                    margin-top: 13px;
                    border-radius: 16px;
                    border: 1px solid #00c3bd;
                    font-size: 13px;
                    background-color: white;
                    color: #00c3bd;">작가신청</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col border-right border-bottom pl-4 bg-white">
            <ul class="nav flex-column mt-4">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'my_post' %}">내 브런치</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">작가의 서랍</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">브런치 나우</a>
                </li>
            </ul>
            <button type="button" style="width: 80px;
                    height: 32px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    border-radius: 16px;
                    border: 1px solid #959595;
                    font-size: 13px;
                    background-color: white;
                    color: #959595;"><a
                    class="text-dark" href="{% url 'signout' %}">로그아웃</a></button>
        </div>
    </div>
</div>
{% endblock sidebar %}
{% endif %}
{% block content %}
{% if post %}
<div class="w-75 mx-auto mt-4">
    <div class="card border-top-0 border-right-0 border-left-0 mt-4">
        <div class="card-body">
            <h1 class="card-title"><a href="{% url 'show_post' post_id=post.id %}" class="text-dark">{{ post.title }}</a></h1>
            <h3 class="card-title text-secondary mt-4">{{ post.sub_title }}</a></h3>
            <p class="card-text text-secondary mb-4">by {{ post.author.name }}</p>
            <p class="card-text text-dark mt-4 mb-4">{{ post.contents|safe }}</p> <!-- html tag를 string 쳐리하지 않고 parsing해주기 위해 |safe 입력-->
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}