@font-face{
    font-family: "NanumGothic";
    src:url("static/fonts/NanumSquareRegular.ttf");
}
@font-face{
    font-family: "NanumMyeongjo";
    src:url("static/fonts/NanumMyeongjo.ttf");
}

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
         box-sizing: content-box;
}

body{
    font-size: 13px;
    font-family: NanumMyeongjo;
}

#sidebar{
    font-family: NanumGothic;
}